@media print and (max-width: 2000px) {
    h1{ 
        color: red;
        font-size: 200px;
    }
}

/* mudando a estilização de acordo com a posição da tela */
@media (orientation: landscape){
    h1 {
        border: 5px solid red;
        color: blue;
    }
}

@media (max-width: 320px) {
    body {
    background-color: black;
    color: white;
    }
}

@media (min-width: 321px) and (max-width: 600px) {
    h1 {
        display: none;
    }
    body {
        background-color: green;
    } 
}

@media (min-width:601px) and (max-width: 1000px) {
    body {
        background-color: aquamarine;
    }
    h1 {
        color: goldenrod;
    }
}