@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');


body{
	/* background-color:#222187; */
	background-image: linear-gradient(to right, #662424, #222187);
	font-size: 14px;
	color: rgb(150, 150, 255);
	font-family: 'Anonymous Pro', monospace;
    }
h1{
	text-align: center;
	text-transform: uppercase;
	color:#c4fbff;
}
a{
	text-decoration: none;
}

.corpoDoTexto{
	text-align: justify;
	text-indent: 25px;
	letter-spacing: 2px;
	margin: 10px 50px; 
	border: 5px dashed aqua;
}
/* Top - right -bottom - left */
.corpoDoTexto a{
	color:#740001;
}

.corpoDoTexto2{
	text-align: justify;
	text-indent: 25px;
	letter-spacing: 2px;
	
}
.corpoDoTexto2 a{
	color:#d5ff6c;
}

#second {
 font-family: 'Kanit';
 text-align: justify;
 text-indent: 25px;
 letter-spacing: 2px;
 
}